@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Anton-Regular";
  src: url("/fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /* farver */
  --color-primary-cloudstone: #dadada;
  --color-primary-skypulse: #408ad1;
  --color-primary-suntrail: #ff5900;
  --color-primary-charcoal: #322925;
  --color-primary-driftsand: #f9f9f9;

  --color-secondary-suntrail-50: #fff7ec;
  --color-secondary-suntrail-100: #ffedd3;
  --color-secondary-suntrail-200: #ffd9a5;
  --color-secondary-suntrail-300: #ffbb6d;
  --color-secondary-suntrail-400: #ff9332;
  --color-secondary-suntrail-500: #ff730a;
  --color-secondary-suntrail-600: #ff5900;
  --color-secondary-suntrail-700: #cd3e02;
  --color-secondary-suntrail-800: #a1320b;
  --color-secondary-suntrail-900: #822b0c;
  --color-secondary-suntrail-950: #461203;

  --color-secondary-skypulse-50: #f2f7fe;
  --color-secondary-skypulse-100: #e6edf9;
  --color-secondary-skypulse-200: #c5dbf3;
  --color-secondary-skypulse-300: #91bce8;
  --color-secondary-skypulse-400: #579bda;
  --color-secondary-skypulse-500: #408ad1;
  --color-secondary-skypulse-600: #2162a8;
  --color-secondary-skypulse-700: #1c4e89;
  --color-secondary-skypulse-800: #1b4471;
  --color-secondary-skypulse-900: #1c3a5f;
  --color-secondary-skypulse-950: #11263f;

  --color-secondary-charcoal-50: #f5f4f1;
  --color-secondary-charcoal-100: #e6e4db;
  --color-secondary-charcoal-200: #cec9bb;
  --color-secondary-charcoal-300: #b3aa93;
  --color-secondary-charcoal-400: #9c9073;
  --color-secondary-charcoal-500: #8e7e65;
  --color-secondary-charcoal-600: #796856;
  --color-secondary-charcoal-700: #625346;
  --color-secondary-charcoal-800: #54483f;
  --color-secondary-charcoal-900: #4a4039;
  --color-secondary-charcoal-950: #332926;

  /* typografi */
  --font-display: "Anton-Regular", sans-serif;
  --font-text: "Roboto-Regular", sans-serif;
}

/* Farver */
.color-primary-cloudstone {
  color: var(--primary-color-cloudstone);
}
.color-primary-skypulse {
  color: var(--primary-color-skypulse);
}
.color-primary-suntrail {
  color: var(--primary-color-suntrail);
}
.color-primary-charcoal {
  color: var(--primary-color-charcoal);
}
.color-primary-driftsand {
  color: var(--primary-color-driftsand);
}

/* Tilføj sekundære farver her efter behov. kald den .color-secondary-{navn}-{nummer} */

/* Typografi */
.h1-web {
  font-family: var(--font-display);
  font-size: 150px;
}

.h1-mobile {
  font-family: var(--font-display);
  font-size: 64px;
}

.h2-web {
  font-family: var(--font-display);
  font-size: 115px;
}

.h2-mobile {
  font-family: var(--font-display);
  font-size: 48px;
}

.h3-web {
  font-family: var(--font-display);
  font-size: 64px;
}

.h3-mobile {
  font-family: var(--font-display);
  font-size: 32px;
}

.h4-web {
  font-family: var(--font-display);
  font-size: 48px;
}

.h4-mobile {
  font-family: var(--font-display);
  font-size: 20px;
}

.h5-web {
  font-family: var(--font-display);
  font-size: 32px;
}

.p-web {
  font-family: var(--font-text);
  font-size: 20px;
}

.p-mobile {
  font-family: var(--font-text);
  font-size: 14px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
