---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import LogoMobile from "../components/LogoMobile.astro";
import LogoWeb from "../components/LogoWeb.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Titel">
  <article>
    <h1 class="h1 color-primary-suntrail">
      Headline 1
    </h1>
    <Button>Klik!</Button>
    <p>
      Link til <Link
        href="https://www.kea.dk"
        target="_blank">En anden side</Link
      >
      <button>hi</button>
    </p>
    <Image src={thumbsup} alt="" />
  </article>
</MainLayout>
