---
const { text } = Astro.props;
---

<button>
  <p class="p-web uppercase"><slot /></p>
</button>

<style>
  button {
    /* reset */
    font: inherit;
    cursor: pointer;

    /* styling */
    padding: 0.4em 1.25em;
    border-radius: 3px;
    background-color: var(
      --color-primary-suntrail
    );
    color: var(--color-primary-driftsand);
  }

  p {
  }
</style>
