---
import LogoMobile from "./LogoMobile.astro";
import LogoWeb from "./LogoWeb.astro";
import { Image } from "astro:assets";
import ButtonOrange from "./ButtonOrange.astro";
import "../styles/tailwind.css";
---

<div class="flex flex-row items-center justify-between mr-[40px] m-[40px] h-[75px] place-it">
  <div id="logo">
    <LogoWeb />
  </div>
  <div id="search-bar">
    <div class="w-[509px] h-9 rounded-[4px] border border-[#9c9073] flex items-center gap-2">
      <Image src="/assets/search-icon.svg" alt="search" width="16" height="16" />
      <p class="p-mobile">search...</p>
    </div>
  </div>
  <div id="menus">
    <div class="flex flex-row gap-5 place-items-center">
      <a class="p uppercase color-primary-charcoal flex items-center gap-1" href=""
        >højskoleophold<span
          ><Image src="/assets/arrow-up.svg" alt="arrow-down" width="10" height="10" /></span
        ></a
      >
      <a class="p uppercase color-primary-charcoal" href="">priser</a>
      <a class="p uppercase border-p color-primary-charcoal flex items-center gap-1" href=""
        >om os<span
          ><Image src="/assets/arrow-up.svg" alt="arrow-down" width="10" height="10" /></span
        ></a
      >
      <ButtonOrange text=infomøde></ButtonOrange>
    </div>
    <div></div>
  </div>
</div>
