---
import { Image } from "astro:assets";
---

<div
  class="inline-flex flex-col justify-start items-center"
>
  <div class="">
    <Image
      src="/assets/logo mobile.svg"
      alt="1"
      width="242"
      height="100"
    />
  </div>
  <div class=""></div>
  <div class=""></div>
</div>
